schemas/tef/po/xsd/tef_desc_these.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.abes.fr/abes/documents/tef" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:mads="http://www.loc.gov/mads/" xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:dcterms="http://purl.org/dc/terms/" targetNamespace="http://www.abes.fr/abes/documents/tef"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xs:include schemaLocation="tef_types.xsd"/>
	<xs:include schemaLocation="tef_admin_these.xsd"/>
	<xs:include schemaLocation="tef_desc_edition.xsd"/>
	<xs:import namespace="http://purl.org/dc/terms/" schemaLocation="dcterms.xsd"/>
	<xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="dc.xsd"/>
	<!--
****** 			
	Ce schéma comprend tous les éléments descriptifs, qu'ils soient aussi par ailleurs administratifs ou non.
	C'est le Schematron qui, selon le contexte, va déterminer les éléments présents.
	Dans le contexte tefDescriptif, tous les éléments de thesisRecord pourront etre utilisés, certains étant obligatoires, d'autres non.
	Dans le contexte tefComplet, certains éléments ne DEVRONT pas etre utilisés, car ils sont utilisés dans d'autres blocs de métadonnées.
	
	attributs d'autorités sur éléments Rameau obligatoires ?????

-->
	<xs:element name="thesisRecord" type="thesisRecordType"/>
	<xs:complexType name="thesisRecordType">
		<xs:sequence>
			<xs:element ref="dc:title"/>
			<xs:element ref="dcterms:alternative" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="auteur" minOccurs="0"/>
			<xs:element ref="dc:identifier" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dc:subject" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="sujetRameau" type="ControlledType" minOccurs="0"/>
			<xs:element ref="edition" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dcterms:abstract" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="dcterms:tableOfContents" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="directeurThese" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ecoleDoctorale" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="partenaireRecherche" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dcterms:dateAccepted" minOccurs="0"/>
			<xs:element ref="dc:type" minOccurs="2" maxOccurs="unbounded"/>
			<xs:element ref="dc:language" maxOccurs="unbounded"/>
			<xs:element ref="dc:relation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dc:coverage" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dc:rights" minOccurs="0"/>
			<xs:element ref="thesis.degree" minOccurs="0"/>
			<xs:element ref="MADSAuthority" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="recordInfo" minOccurs="0"/>
			<xs:any  namespace="" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xs:any>
		</xs:sequence>
		<xs:attribute name="contexte" use="optional">
			<xs:simpleType>
				<xs:restriction base="non_empty_token">
					<xs:enumeration value="tefComplet"/>
					<xs:enumeration value="tefDescriptif"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="recordID" type="non_empty_token" use="optional"/>
		<xs:attribute name="date" type="xs:date" use="optional"/>
		<xs:attribute name="systeme" type="non_empty_token" use="optional"/>
		<xs:attribute name="institution" type="non_empty_token" use="optional"/>
	</xs:complexType>
<!-- ajout de tef:oaiSets pour utiliser les sets oai de tef dans dc:subject
	Une règle Schematron impose de prendre une valeur dans la liste des sets, qu'il s'agisse d'un code ou d'un libellé dans toute langue.
	On peut ajouter xml:lang-->
	<xs:complexType name="oaiSetSpec">
		<xs:simpleContent>
			<xs:restriction base="dc:SimpleLiteral">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
				<xs:attribute ref="xml:lang" use="prohibited"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="oaiSetLang">
		<xs:simpleContent>
			<xs:restriction base="dc:SimpleLiteral">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
				<xs:attribute ref="xml:lang" use="required"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<!-- 	===================================================================
	Sujet sous vocabulaire controle, avec ou sans décomposition Rameau
	===================================================================  -->
	<xs:complexType name="ControlledType" mixed="true">
		<xs:sequence>
			<xs:element ref="vedetteRameauPersonne" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="vedetteRameauCollectivite" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="vedetteRameauFamille" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="vedetteRameauAuteurTitre" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="vedetteRameauTitre" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="vedetteRameauNomCommun" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="vedetteRameauNomGeographique" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang" default="fr"/>
	</xs:complexType>
	<xs:element name="vedetteRameauPersonne">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="elementdEntree">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="non_empty_token">
								<xs:attribute name="autoriteExterne" type="non_empty_token" use="optional"/>
								<xs:attribute name="autoriteSource" type="non_empty_token" use="optional"
									default="Sudoc"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="subdivision" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="non_empty_token">
								<xs:attribute name="type" use="required">
									<xs:simpleType>
										<xs:restriction base="non_empty_token">
											<xs:enumeration value="autrePartieDuNom"/>
											<xs:enumeration value="qualificatifsSaufDates"/>
											<xs:enumeration value="chiffresRomains"/>
											<xs:enumeration value="dates"/>
											<xs:enumeration value="formeDeveloppeeInitialesPrenom"/>
											<xs:enumeration value="subdivisionDeForme"/>
											<xs:enumeration value="adresseAffiliation"/>
											<xs:enumeration value="subdivisionDeSujet"/>
											<xs:enumeration value="subdivisionGeographique"/>
											<xs:enumeration value="subdivisionChronologique"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="autoriteExterne" type="non_empty_token" use="optional"/>
								<xs:attribute name="autoriteSource" type="non_empty_token" use="optional"
									default="Sudoc"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vedetteRameauCollectivite">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="elementdEntree">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="non_empty_token">
								<xs:attribute name="autoriteExterne" type="non_empty_token" use="optional"/>
								<xs:attribute name="autoriteSource" type="non_empty_token" use="optional"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="subdivision" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="non_empty_token">
								<xs:attribute name="type" use="required">
									<xs:simpleType>
										<xs:restriction base="non_empty_token">
											<xs:enumeration value="subdivisionOuNom"/>
											<xs:enumeration value="ajoutOuQualificatif"/>
											<xs:enumeration value="numeroCongresSession"/>
											<xs:enumeration value="lieuCongres"/>
											<xs:enumeration value="dateCongres"/>
											<xs:enumeration value="elementRejete"/>
											<xs:enumeration value="autrePartieDuNom"/>
											<xs:enumeration value="subdivisionDeForme"/>
											<xs:enumeration value="subdivisionDeSujet"/>
											<xs:enumeration value="subdivisionGeographique"/>
											<xs:enumeration value="subdivisionChronologique"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="autoriteExterne" type="non_empty_token" use="optional"/>
								<xs:attribute name="autoriteSource" type="non_empty_token" use="optional"
									default="Sudoc"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vedetteRameauFamille">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="elementdEntree">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="non_empty_token">
								<xs:attribute name="autoriteExterne" type="non_empty_token" use="optional"/>
								<xs:attribute name="autoriteSource" type="non_empty_token" use="optional"
									default="Sudoc"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="subdivision" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="non_empty_token">
								<xs:attribute name="type" use="required">
									<xs:simpleType>
										<xs:restriction base="non_empty_token">
											<xs:enumeration value="dates"/>
											<xs:enumeration value="subdivisionDeForme"/>
											<xs:enumeration value="subdivisionDeSujet"/>
											<xs:enumeration value="subdivisionGeographique"/>
											<xs:enumeration value="subdivisionChronologique"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="autoriteExterne" type="non_empty_token" use="optional"/>
								<xs:attribute name="autoriteSource" type="non_empty_token" use="optional"
									default="Sudoc"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vedetteRameauAuteurTitre">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="elementdEntree">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="non_empty_token">
								<xs:attribute name="autoriteExterne" type="non_empty_token" use="optional"/>
								<xs:attribute name="autoriteSource" type="non_empty_token" use="optional"
									default="Sudoc"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="subdivision" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="non_empty_token">
								<xs:attribute name="type" use="required">
									<xs:simpleType>
										<xs:restriction base="non_empty_token">
											<xs:enumeration value="subdivisionTitre"/>
											<xs:enumeration value="subdivisionDeSujet"/>
											<xs:enumeration value="subdivisionGeographique"/>
											<xs:enumeration value="subdivisionChronologique"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="autoriteExterne" type="non_empty_token" use="optional"/>
								<xs:attribute name="autoriteSource" type="non_empty_token" use="optional"
									default="Sudoc"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vedetteRameauTitre">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="elementdEntree">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="non_empty_token">
								<xs:attribute name="autoriteExterne" type="non_empty_token" use="optional"/>
								<xs:attribute name="autoriteSource" type="non_empty_token" use="optional"
									default="Sudoc"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="subdivision" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="non_empty_token">
								<xs:attribute name="type" use="required">
									<xs:simpleType>
										<xs:restriction base="non_empty_token">
											<xs:enumeration value="numeroDePartie"/>
											<xs:enumeration value="nomDePartie"/>
											<xs:enumeration value="subdivisionDeForme"/>
											<xs:enumeration value="dateDePublication"/>
											<xs:enumeration value="sousVedetteDeForme"/>
											<xs:enumeration value="langue"/>
											<xs:enumeration value="autresInformations"/>
											<xs:enumeration value="versionOuDate"/>
											<xs:enumeration value="instrumentMusical"/>
											<xs:enumeration value="numeroMorceauMusique"/>
											<xs:enumeration value="clefMusique"/>
											<xs:enumeration value="arrangementMusique"/>
											<xs:enumeration value="SubdivisionDeForme"/>
											<xs:enumeration value="SubdivisionDeSujet"/>
											<xs:enumeration value="subdivisionGeographique"/>
											<xs:enumeration value="SubdivisionChronologique"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="autoriteExterne" type="non_empty_token" use="optional"/>
								<xs:attribute name="autoriteSource" type="non_empty_token" use="optional"
									default="Sudoc"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vedetteRameauNomCommun">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="elementdEntree">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="non_empty_token">
								<xs:attribute name="autoriteExterne" type="non_empty_token" use="optional"/>
								<xs:attribute name="autoriteSource" type="non_empty_token" use="optional"
									default="Sudoc"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="subdivision" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="non_empty_token">
								<xs:attribute name="type" use="required">
									<xs:simpleType>
										<xs:restriction base="non_empty_token">
											<xs:enumeration value="subdivisionDeForme"/>
											<xs:enumeration value="subdivisionDeSujet"/>
											<xs:enumeration value="subdivisionGeographique"/>
											<xs:enumeration value="subdivisionChronologique"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="autoriteExterne" type="non_empty_token" use="optional"/>
								<xs:attribute name="autoriteSource" type="non_empty_token" use="optional"
									default="Sudoc"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vedetteRameauNomGeographique">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="elementdEntree">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="non_empty_token">
								<xs:attribute name="autoriteExterne" type="non_empty_token" use="optional"/>
								<xs:attribute name="autoriteSource" type="non_empty_token" use="optional"
									default="Sudoc"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="subdivision" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="non_empty_token">
								<xs:attribute name="type" use="required">
									<xs:simpleType>
										<xs:restriction base="non_empty_token">
											<xs:enumeration value="SubdivisionDeForme"/>
											<xs:enumeration value="SubdivisionDeSujet"/>
											<xs:enumeration value="subdivisionGeographique"/>
											<xs:enumeration value="SubdivisionChronologique"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="autoriteExterne" type="non_empty_token" use="optional"/>
								<xs:attribute name="autoriteSource" type="non_empty_token" use="optional"
									default="Sudoc"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- 	===================================================================
	Méta-métadonnées, n'apparaissant pas dans le contexte tefComplet (METS).
	===================================================================  -->
	<xs:element name="recordInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="recordCreation">
					<xs:complexType>
						<xs:attribute name="recordID" type="non_empty_token" use="required"/>
						<xs:attribute name="creationDate" type="xs:date" use="required"/>
						<xs:attribute name="systeme" type="non_empty_token" use="required"/>
						<xs:attribute name="institution" type="non_empty_token" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="recordOrigin" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="recordID" type="non_empty_token" use="required"/>
						<xs:attribute name="importDate" type="xs:date" use="required"/>
						<xs:attribute name="systeme" type="non_empty_token" use="required"/>
						<xs:attribute name="institution" type="non_empty_token" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="recordModification" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="recordID" type="non_empty_token" use="required"/>
						<xs:attribute name="modificationDate" type="xs:date" use="required"/>
						<xs:attribute name="systeme" type="non_empty_token" use="required"/>
						<xs:attribute name="institution" type="non_empty_token" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
