schemas/stef/sip0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Titre:    Schema XML pour les metadonnees du systeme d'archivage PAC du CINES
Fonction: ceci est le descriptif du schema de versement soit sip.xsd
Date:   2008/03/06
Auteur:   Olivier Rouchon
Version:  0.19
-->
<xsd:schema
 xmlns="http://www.cines.fr/pac/sip"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 targetNamespace="http://www.cines.fr/pac/sip"
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 version="0.19"
 >
  <xsd:element name="pac" type="pacType"/>

  <xsd:complexType name="pacType">
    <xsd:sequence>
      <xsd:element ref="DocDC" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="DocMeta" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="FichMeta" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="DocDC" type="DocDCType"/>

   <xsd:complexType name="DocDCType">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Métadonnees d'archivage de niveau Dublin Core</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="title" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element ref="creator" minOccurs="1"  maxOccurs="unbounded"/>
      <xsd:element ref="subject" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element ref="description" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element ref="publisher" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element ref="contributor" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element ref="date" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="type" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element ref="format" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element ref="source" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element ref="language" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="relation" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element ref="coverage" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element ref="rights" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="title" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Titre du document</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="creator" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Entité (personne ou organisme) responsable de la création du contenu du document - le nom doit apparaître sous sa forme développée</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="subject" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Sujet du document (peut être défini par mots clés)</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="description" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Description du contenu du document (résumé, table des matières, texte libre, etc.)</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="publisher" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Entité (personne ou organisme) responsable de la mise à disposition du document - le nom doit apparaître sous sa forme développée</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="contributor" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Entité (personne ou organisme) ayant contribué à la création du contenu du document - le nom doit apparaître sous sa forme développée</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="date" type="xsd:date">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Date (au format ISO-8601) associée à la création du document</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="type" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Nature ou genre du contenu du document</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="format" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Manifestation physique ou numérique du document - matériel utulisé pour la lecture et la restitution optimale du document</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="source" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Références aux ressources à partir desquelles sont dérivées le document</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="language" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Langue (principale) du contenu du document</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="relation" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Référence à un ou plusieurs documents connexes archivés au CINES</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="coverage" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Couverture spatio-temporelle du document</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="rights" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Droits associés au document - ne doivent pas être pris en compte dans cette définition les droits associés à la communication, attribués par le service producteur ou le service versant</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="DocMeta" type="DocMetaType"/>

  <xsd:complexType name="DocMetaType">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Métadonnees d'archivage de niveau document</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element ref="authenticite" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="dureeConservation" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="identifiantDocProducteur" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="noteDocument" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="serviceVersant" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="structureDocument" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="version" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="versionPrecedente" minOccurs="0" maxOccurs="1"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:element name="authenticite" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Attestation de l'authenticité du document</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="dureeConservation" type="xsd:duration">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Durée prévue (au format ) de conservation du document</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="identifiantDocProducteur" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Identifiant du document fourni par le producteur, dans le cas où celui-ci possède un plan de classement</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="noteDocument" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Note complémentaire relative au document - texte libre</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="serviceVersant" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Identification de l'organisme qui a versé le document - nom écrit sous sa forme développée</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="structureDocument" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Description de la structuration du document en fichiers - peut être l'identifiant d'un document archivé qui décrit la structure</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="version" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Version du document</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="versionPrecedente" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Référence de la version précédente archivée du document - au CINES ou ailleurs</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="FichMeta" type="FichMetaType"/>

  <xsd:complexType name="FichMetaType">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Métadonnees d'archivage de niveau fichier</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element ref="compression" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="encodage" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="formatFichier" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="nomFichier" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="empreinteOri" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="noteFichier" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="structureFichier" minOccurs="0" maxOccurs="1"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:element name="compression" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Type de compression du fichier</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="encodage" type="encodageType">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Encodage du fichier</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="formatFichier" type="formatFichierType">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Format du fichier</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="nomFichier" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Nom (et chemin d'accès relatif) du fichier</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="empreinteOri" type="empreinteType">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Empreinte numérique du fichier - hachage - calculée avec les algorithme MD5, SHA-1 ou SHA-256 et fournie par le service versant</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="noteFichier" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Note complémentaire relative au fichier - texte libre</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="structureFichier" type="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">description de la structure du fichier (peut être l’identifiant d’un document archivé qui décrit la structure)</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:complexType name="empreinteType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="type" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="MD5"/>
              <xsd:enumeration value="SHA-1"/>
              <xsd:enumeration value="SHA-256"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="encodageType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ASCII"/>
      <xsd:enumeration value="UTF-8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="formatFichierType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="HTML"/>
      <xsd:enumeration value="PDF"/>
      <xsd:enumeration value="TXT"/>
      <xsd:enumeration value="XML"/>
      <xsd:enumeration value="GIF"/>
      <xsd:enumeration value="JPEG"/>
      <xsd:enumeration value="TIFF"/>
      <xsd:enumeration value="PNG"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stringNotNULL">
    <xsd:annotation>
      <xsd:documentation xml:lang="fr">Chaine de caractères de type xsd:string et de longueur non nulle</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value='1'/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>