schemas/tef/po/fruit.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="fruit">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pomme">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="pepin" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="abricot">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="noyau" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
